TestSoapApi/TestSoapApi_InlineSchema1.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://TestSoapApi" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://TestSoapApi" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <xsd:element ibmSchExtn:docRoot="true" name="EmployeeDetails"
      	type="tns:Request">

      </xsd:element>
      <xsd:element ibmSchExtn:docRoot="true"
      	name="EmployeeDetailsResponse" type="tns:Response">

      </xsd:element>

      <xsd:complexType name="Request">
      	<xsd:sequence>
      		<xsd:element name="EmpID" type="xsd:int"></xsd:element>
      		<xsd:element name="EmpName" type="xsd:string"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="Response">
      	<xsd:sequence>

      		<xsd:element name="EmpID" type="xsd:int"></xsd:element>
      		<xsd:element name="ErrorMessage" type="xsd:string"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
</xsd:schema>