WS_AccountManagementService/OMNILibrary/AccountManagement.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:tns="http://tempuri.org/">
  <wsdl:documentation>
    <wsdl:appinfo source="WMQI_APPINFO">
      <MRWSDLAppInfo imported="true">
        <generatedXSD location="AccountManagement_InlineSchema1.xsd"/>
        <binding hasEncoding="false" imported="true" name="ServiceSoap12" originalBindingStyle="document"/>
        <binding hasEncoding="false" imported="true" name="ServiceSoap" originalBindingStyle="document"/>
      </MRWSDLAppInfo>
    </wsdl:appinfo>
  </wsdl:documentation>
  <wsdl:types>
    
          <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions">
<xsd:include schemaLocation="AccountManagement_InlineSchema1.xsd"/>
    </xsd:schema>
    </wsdl:types>
 
  <wsdl:message name="GetCityListSelfAOSoapIn">
    <wsdl:part element="tns:GetCityListSelfAO" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetCityListSelfAOSoapOut">
    <wsdl:part element="tns:GetCityListSelfAOResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="ProcessSelfAccountOpeningSoapIn">
    <wsdl:part element="tns:ProcessSelfAccountOpening" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="ProcessSelfAccountOpeningSoapOut">
    <wsdl:part element="tns:ProcessSelfAccountOpeningResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
   
    <wsdl:operation name="GetCityListSelfAO">
      <wsdl:input message="tns:GetCityListSelfAOSoapIn"/>
      <wsdl:output message="tns:GetCityListSelfAOSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="ProcessSelfAccountOpening">
      <wsdl:input message="tns:ProcessSelfAccountOpeningSoapIn"/>
      <wsdl:output message="tns:ProcessSelfAccountOpeningSoapOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetCityListSelfAO">
      <soap:operation soapAction="http://tempuri.org/GetCityListSelfAO" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessSelfAccountOpening">
      <soap:operation soapAction="http://tempuri.org/ProcessSelfAccountOpening" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetCityListSelfAO">
      <soap12:operation soapAction="http://tempuri.org/GetCityListSelfAO" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessSelfAccountOpening">
      <soap12:operation soapAction="http://tempuri.org/ProcessSelfAccountOpening" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port binding="tns:ServiceSoap" name="ServiceSoap">
      <soap:address location="http://localhost:23733/GNBService.asmx"/>
    </wsdl:port>
    <wsdl:port binding="tns:ServiceSoap12" name="ServiceSoap12">
      <soap12:address location="http://localhost:23733/GNBService.asmx"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>