WS_AccountManagementService/OMNILibrary/CNICToFundTransfer_InlineSchema1.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:tns="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <xsd:element ibmSchExtn:docRoot="true" name="BeneficiaryInquiry">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="userName" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="password" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="channel" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="receiverCNIC" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="receiverName" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="receiverMobileNumber" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element ibmSchExtn:docRoot="true" name="BeneficiaryInquiryResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="BeneficiaryInquiryResult" type="xsd:int"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="responseMessage" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element ibmSchExtn:docRoot="true" name="RemittanceInquiry">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="userName" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="password" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="channel" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="senderCNIC" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="senderName" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="senderMobileNumber" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="receiverCNIC" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="receiverName" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="receiverMobileNumber" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="remittanceAmount" type="xsd:int"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="externalTransactionId" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="pof" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element ibmSchExtn:docRoot="true" name="RemittanceInquiryResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="RemittanceInquiryResult" type="xsd:int"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="responseMessage" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="disbursalCode" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="inquiryId" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element ibmSchExtn:docRoot="true" name="SendRemittance">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="userName" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="password" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="channel" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="inquiryId" type="xsd:int"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="externalReferenceCode" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="disbursalCode" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="narration" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="senderCNIC" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="senderName" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="senderMobileNumber" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="receiverCNIC" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="receiverName" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="receiverMobileNumber" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="remittanceAmount" type="xsd:int"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="externalTransactionId" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="fromBranchCode" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="fromAccountNo" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="feeAmount" type="xsd:decimal"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="fedAmount" type="xsd:decimal"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element ibmSchExtn:docRoot="true" name="SendRemittanceResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="SendRemittanceResult" type="xsd:int"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="responseMessage" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element ibmSchExtn:docRoot="true" name="ReverseRemittance">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="userName" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="password" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="channel" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="externalTransactionId" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="externalReferenceCode" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element ibmSchExtn:docRoot="true" name="ReverseRemittanceResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="ReverseRemittanceResult" type="xsd:int"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="responseMessage" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element ibmSchExtn:docRoot="true" name="SearchRemittance">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="userName" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="password" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="channel" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="cnic" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="disbursalCode" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element ibmSchExtn:docRoot="true" name="SearchRemittanceResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="SearchRemittanceResult" type="xsd:int"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="responseMessage" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="isBiometricRequired" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="remittanceSearchId" type="xsd:int"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="amount" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element ibmSchExtn:docRoot="true" name="ReceiveRemittance">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="userName" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="password" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="channel" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="remittanceSearchId" type="xsd:int"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="externalReferenceCode" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="disbursalCode" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="cnic" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="remittanceAmount" type="xsd:int"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="externalTransactionId" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="isBiometricCaptured" type="xsd:boolean"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element ibmSchExtn:docRoot="true" name="ReceiveRemittanceResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="ReceiveRemittanceResult" type="xsd:int"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="responseMessage" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="OmniTransactionId" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element ibmSchExtn:docRoot="true" name="ReverseReceiveRemittance">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="userName" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="password" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="channel" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="externalTransactionId" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="externalReferenceCode" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element ibmSchExtn:docRoot="true" name="ReverseReceiveRemittanceResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="ReverseReceiveRemittanceResult" type="xsd:int"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="responseMessage" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element ibmSchExtn:docRoot="true" name="RevokeRemittance">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="userName" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="password" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="channel" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="externalReferenceCode" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="externalTransactionId" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="cnic" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element ibmSchExtn:docRoot="true" name="RevokeRemittanceResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="RevokeRemittanceResult" type="xsd:int"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="responseMessage" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="OmniTransactionId" type="xsd:int"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="isFTRequired" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="toBranchCode" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="toAccountNo" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="remittanceAmount" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element ibmSchExtn:docRoot="true" name="ReverseRevokeRemittance">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="userName" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="password" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="channel" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="externalTransactionId" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="externalReferenceCode" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element ibmSchExtn:docRoot="true" name="ReverseRevokeRemittanceResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="ReverseRevokeRemittanceResult" type="xsd:int"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="responseMessage" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>