WS_AccountManagementService/PRIMELibrary/OnlineServicesAPI_InlineSchema1.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://CTL.COM.Services.Online.WebServices/OnlineServices" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:tns="http://CTL.COM.Services.Online.WebServices/OnlineServices" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <xsd:import namespace="http://microsoft.com/wsdl/types/" schemaLocation="OnlineServicesAPI_InlineSchema2.xsd"/>
      <xsd:element ibmSchExtn:docRoot="true" name="UnblockPinRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="xmlRequest" type="tns:UnblockPINData"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="UnblockPINData">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns:APIArguments">
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="CardNumber" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="1" name="CardSerno" type="xsd:long"/>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="APIArguments">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="Header" type="tns:Header"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Header">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="MessageID" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="CorrelationID" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="SystemID" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="RequestorID" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Ticket" type="xsd:base64Binary"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="CallerRef" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Origin" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Culture" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element ibmSchExtn:docRoot="true" name="UnblockPinRequestResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="UnblockPinRequestResult" type="tns:UnblockPinResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="UnblockPinResponse">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns:APIResponse"/>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="APIResponse">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="Header" type="tns:Header"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Result" type="tns:Result"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Result">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="Code" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="SubCode" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Description" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="ErrorDetails" type="tns:ArrayOfErrorResult"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="NextPageKey" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfErrorResult">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="ErrorResult" nillable="true" type="tns:ErrorResult"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ErrorResult">
        <xsd:attribute name="Code" type="xsd:int" use="required"/>
        <xsd:attribute name="Description" type="xsd:string"/>
      </xsd:complexType>
      <xsd:element ibmSchExtn:docRoot="true" name="SetPinRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="xmlRequest" type="tns:SetPINData"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="SetPINData">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns:APIArguments">
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="CardNumber" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="1" name="CardSerno" type="xsd:long"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="PinNumber" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="1" name="PINOption" type="tns:PINOptions"/>
              <xsd:element maxOccurs="1" minOccurs="1" name="PINSetAction" type="tns:PINSetActions"/>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:simpleType name="PINOptions">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Encrypted"/>
          <xsd:enumeration value="Code"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="PINSetActions">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="SetPIN"/>
          <xsd:enumeration value="DisablePIN"/>
          <xsd:enumeration value="EnablePIN"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:element ibmSchExtn:docRoot="true" name="SetPinRequestResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="SetPinRequestResult" type="tns:SetPinResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="SetPinResponse">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns:APIResponse"/>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:element ibmSchExtn:docRoot="true" name="ChangePinRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="xmlRequest" type="tns:ChangePINData"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="ChangePINData">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns:APIArguments">
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="CardNumber" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="1" name="CardSerno" type="xsd:long"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="OldPinNumber" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="NewPinNumber" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="1" name="PINOption" type="tns:PINOptions"/>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:element ibmSchExtn:docRoot="true" name="ChangePinRequestResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="ChangePinRequestResult" type="tns:ChangePinResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="ChangePinResponse">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns:APIResponse"/>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:element ibmSchExtn:docRoot="true" name="ValidatePinRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="xmlRequest" type="tns:ValidatePINRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="ValidatePINRequest">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns:APIArguments">
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="CardNumber" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="1" name="CardSerno" type="xsd:long"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="PINNumber" type="xsd:string"/>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:element ibmSchExtn:docRoot="true" name="ValidatePinRequestResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="ValidatePinRequestResult" type="tns:ValidatePINResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="ValidatePINResponse">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns:APIResponse"/>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:element ibmSchExtn:docRoot="true" name="AddBonusRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="xmlRequest" type="tns:AddBonusData"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="AddBonusData">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns:APIArguments">
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="GroupName" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="1" name="BonusAmount" nillable="true" type="xsd:decimal"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="BonusPurgeDate" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="1" name="BonusTrxn" nillable="true" type="xsd:short"/>
              <xsd:element maxOccurs="1" minOccurs="1" name="CashBonusAmount" nillable="true" type="xsd:decimal"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="CashBonusPurgeDate" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="1" name="CashBonusTrxns" nillable="true" type="xsd:short"/>
              <xsd:element maxOccurs="1" minOccurs="1" name="BonusTEAmount" nillable="true" type="xsd:decimal"/>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:element ibmSchExtn:docRoot="true" name="AddBonusRequestResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="AddBonusRequestResult" type="tns:AddBonusResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="AddBonusResponse">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns:APIResponse"/>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:element ibmSchExtn:docRoot="true" name="CreateProxyCard">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="xmlRequest" type="tns:CreateProxyCardRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="CreateProxyCardRequest">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns:APIArguments">
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="1" name="ProductSerno" type="tns:NullableInt64"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="CardNumber" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="1" name="CardSerno" type="xsd:long"/>
              <xsd:element maxOccurs="1" minOccurs="1" name="ProxyCardAuthorizationLimit" type="tns:NullableDecimal"/>
              <xsd:element maxOccurs="1" minOccurs="1" name="AuthorizedTransactions" type="xsd:int"/>
              <xsd:element maxOccurs="1" minOccurs="1" name="AuthorizationTransactionPeriod" type="xsd:int"/>
              <xsd:element maxOccurs="1" minOccurs="1" name="AuthorizedTransactionLimit" type="tns:NullableDecimal"/>
              <xsd:element maxOccurs="1" minOccurs="1" name="ValidHours" type="xsd:int"/>
              <xsd:element maxOccurs="1" minOccurs="1" name="CardUsage" type="xsd:int"/>
              <xsd:element maxOccurs="1" minOccurs="1" name="ACPProfileSerno" type="tns:NullableInt64"/>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="NullableInt64">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="Value" type="xsd:long"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="IsNull" type="xsd:boolean"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="NullableDecimal">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="Value" type="xsd:decimal"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="IsNull" type="xsd:boolean"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element ibmSchExtn:docRoot="true" name="CreateProxyCardResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="CreateProxyCardResult" type="tns:CreateProxyCardResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="CreateProxyCardResponse">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns:APIResponse">
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="ProxyCardNumber" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="ExpiryDate" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="1" name="ProxyCardSerno" type="xsd:long"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="CVV2Seq" type="xsd:string"/>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:element ibmSchExtn:docRoot="true" name="ActivateCardRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="xmlRequest" type="tns:ActivateCardData"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="ActivateCardData">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns:APIArguments">
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="CardNumber" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="1" name="UpdateCardStatusTo" type="tns:ChangeCardStatusTo"/>
              <xsd:element maxOccurs="1" minOccurs="1" name="CardSerno" type="xsd:long"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="CVV2" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="ExpiryDateMonth" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="ExpiryDateYear" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="1" name="CardActivVersionNo" type="xsd:int"/>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:simpleType name="ChangeCardStatusTo">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Active"/>
          <xsd:enumeration value="InActive"/>
          <xsd:enumeration value="Deactivated"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:element ibmSchExtn:docRoot="true" name="ActivateCardRequestResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="ActivateCardRequestResult" type="tns:ActivateCardResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="ActivateCardResponse">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns:APIResponse"/>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:element ibmSchExtn:docRoot="true" name="InfoRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="xmlRequest" type="tns:OnlineRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="OnlineRequest">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns:APIArguments">
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="Number" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="1" name="Reference" type="tns:ReferenceType"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="Currency" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="1" name="MaxNoAuth" type="xsd:int"/>
              <xsd:element maxOccurs="1" minOccurs="1" name="ExtraOptions" type="tns:ECardExtraOptions"/>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:simpleType name="ReferenceType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Group"/>
          <xsd:enumeration value="Card"/>
          <xsd:enumeration value="CardSerno"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="ECardExtraOptions">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="B"/>
          <xsd:enumeration value="O"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:element ibmSchExtn:docRoot="true" name="InfoRequestResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="InfoRequestResult" type="tns:OnlineResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="OnlineResponse">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns:APIResponse">
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="CardInformation" type="tns:OnlineCardInfo"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="GroupInformation" type="tns:Group"/>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="OnlineCardInfo">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="Number" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="CardInfo" type="tns:CardBalanceEntity"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="TransactionDetails" type="tns:ArrayOfAuthorisationInfo"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CardBalanceEntity">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="OTB" type="xsd:decimal"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="SumOs" type="xsd:decimal"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="WrongPinRetries" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="AuthCashLimit" type="xsd:decimal"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="AuthCashPeriod" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="AuthCashTrxn" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="AuthCurrency" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="CardUsage" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="CashOTB" type="xsd:decimal"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="CashTrxnLeft" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="EmbServiceCode" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="ExpiryDate" type="xsd:date"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="GroupSerno1" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="GroupSerno2" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="StAuthorization" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="TrxnLeft" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="AuthTrxn" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="AuthTrxnPeriod" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="ExternalReference" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="DefaultAccountType" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="StAuthorizationVersionNo" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="CardActivVersionNo" type="xsd:int"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfAuthorisationInfo">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="AuthorisationInfo" nillable="true" type="tns:AuthorisationInfo"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="AuthorisationInfo">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="DateTime" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="AuthAmount" type="xsd:decimal"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="AuthCurrency" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="CardAmount" type="xsd:decimal"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="CardCurrency" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="ResponseCode" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="AuthCode" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="AuthSource" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="AcquirerID" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="MerchantName" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="MerchantCity" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="MerchantCountry" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="AuthorisationSerno" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="AuthorisationStatus" type="tns:AuthorisationStatus"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="MsgType" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="ProcCode" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="MerchantType" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="DateLocalTrxn" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="TimeLocalTrxn" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="POSEntryMode" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="POSCondition" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="CVVResults" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="CVV2Results" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="TerminalType" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="CVV2AuthReqData" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="InstalmentData" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="NumberOfRepayments" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="MessageTrxnType" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="PaymentSchemeReasonCode" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="PaymentSchemeReasonCodeDescription" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="AuthorisationStatus">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Matched"/>
          <xsd:enumeration value="Dropped"/>
          <xsd:enumeration value="Replenished"/>
          <xsd:enumeration value="Cancelled"/>
          <xsd:enumeration value="Reversed"/>
          <xsd:enumeration value="Cleared"/>
          <xsd:enumeration value="Outstanding"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="Group">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="GroupNumber" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="TotalLimit" type="xsd:decimal"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="TotalOTB" type="xsd:decimal"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="NoTotalAuthsLimit" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="NoTotalAuths" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="CashLimit" type="xsd:decimal"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="CashOTB" type="xsd:decimal"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="NoCashAuths" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="LedgerOTB" type="xsd:decimal"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="MaxLoanPeriod" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="MaxLoanAmount" type="xsd:decimal"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="MinLoanAmount" type="xsd:decimal"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="AuthLimitPeriod" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="AuthCashPeriod" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="AuthCashTrxn" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="AuthCurrency" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="LastBalance" type="xsd:decimal"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="StAuthorization" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="AuthTrxnPeriod" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="TotalDebitOustanding" type="xsd:decimal"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="TotalCreditOutstanding" type="xsd:decimal"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="Bonus" type="xsd:decimal"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="BonusTE" type="xsd:decimal"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="BonusOTBExpiryDate" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="BonusOTBCount" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="BonusCashAmount" type="xsd:decimal"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="BonusCashCount" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="BonusCashExpiryDate" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="BonusDeclineAmount" type="xsd:decimal"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="BonusDeclineCount" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="BonusDeclineExpiryDate" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="AuthLimitPeriodDescr" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="AuthCashPerioDescr" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="AuthTrxnPeriodDescr" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="AuthBlockedLimit" type="xsd:decimal"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="ShadowAuthLimit" type="xsd:decimal"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="ShadowAuthCashLimit" type="xsd:decimal"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="PrimeRiskDomainSerno" type="xsd:long"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="PrimeEntityIndicator" type="s1:char"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="EntityVersionNo" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="AuthUsageMode" type="xsd:int"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element ibmSchExtn:docRoot="true" name="CardGroupInfoRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="xmlRequest" type="tns:OnlineRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element ibmSchExtn:docRoot="true" name="CardGroupInfoRequestResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="CardGroupInfoRequestResult" type="tns:CardGroupInfoResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="CardGroupInfoResponse">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns:APIResponse">
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="CardNumber" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="GroupInformation" type="tns:ArrayOfGroup"/>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfGroup">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Group" nillable="true" type="tns:Group"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element ibmSchExtn:docRoot="true" name="AlertsMaintenance">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="xmlRequest" type="tns:AlertsMaintenanceRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="AlertsMaintenanceRequest">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns:APIArguments">
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="1" name="Reference" type="tns:AlertReferenceEnum"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="Number" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="1" name="Action" type="tns:AlertActionEnum"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="Filters" type="tns:ArrayOfAlertFilterDetails"/>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:simpleType name="AlertReferenceEnum">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Account"/>
          <xsd:enumeration value="Card"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="AlertActionEnum">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="AddModify"/>
          <xsd:enumeration value="Delete"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="ArrayOfAlertFilterDetails">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="AlertFilterDetails" nillable="true" type="tns:AlertFilterDetails"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="AlertFilterDetails">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="FilterSerno" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="FilterType" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="AlertType" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="PhoneNumber" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="EmailAddress" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="TransactionType" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="AuthThreshold" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="ResponseType" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Locality" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="OtbThreshold" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Period" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="DaysToDueDate" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element ibmSchExtn:docRoot="true" name="AlertsMaintenanceResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="AlertsMaintenanceResult" type="tns:AlertsMaintenanceResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="AlertsMaintenanceResponse">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns:APIResponse"/>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:element ibmSchExtn:docRoot="true" name="AlertsInquiry">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="xmlRequest" type="tns:AlertsInquiryRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="AlertsInquiryRequest">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns:APIArguments">
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="1" name="Reference" type="tns:AlertReferenceEnum"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="Number" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="FilterType" type="xsd:string"/>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:element ibmSchExtn:docRoot="true" name="AlertsInquiryResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="AlertsInquiryResult" type="tns:AlertsInquiryResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="AlertsInquiryResponse">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns:APIResponse">
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="Number" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="Currency" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="Filters" type="tns:ArrayOfAlertFilterDetails"/>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:element ibmSchExtn:docRoot="true" name="OnlineCardMaintenance">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="xmlRequest" type="tns:OnlineCardMaintenanceRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="OnlineCardMaintenanceRequest">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns:APIArguments">
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="1" name="RequestType" type="tns:CardMaintenanceActionEnum"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="CardNumber" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="1" name="CardSerno" type="xsd:long"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="ExpiryDate" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="NewStatus" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="OldStatus" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="PurgeDate" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="RegionCode" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="VipLimit" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="Fee" type="tns:FeeDetails"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="AuthCurrency" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="1" name="StAuthVersionNo" type="xsd:int"/>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:simpleType name="CardMaintenanceActionEnum">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Renew"/>
          <xsd:enumeration value="Replace"/>
          <xsd:enumeration value="ChangeStatus"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="FeeDetails">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="Amount" type="xsd:decimal"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Currency" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element ibmSchExtn:docRoot="true" name="OnlineCardMaintenanceResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="OnlineCardMaintenanceResult" type="tns:OnlineCardMaintenanceResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="OnlineCardMaintenanceResponse">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns:APIResponse">
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="AuthorisationID" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="ReferenceNo" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="TraceNo" type="xsd:string"/>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:element ibmSchExtn:docRoot="true" name="OnUsAuthorizationRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="xmlRequest" type="tns:OnUsAuthorizationRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="OnUsAuthorizationRequest">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns:APIArguments">
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="Entity" type="tns:OnUsEntity"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="Merchant" type="tns:OnUsMerchant"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="TransactionInfo" type="tns:OnUsTransactionInfo"/>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="OnUsEntity">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="Reference" type="tns:OnUsReferenceEnum"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Number" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="ExpiryDate" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Cvv2" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="Presense" type="xsd:boolean"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="CardholderPresense" type="xsd:boolean"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="OnUsReferenceEnum">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Account"/>
          <xsd:enumeration value="Card"/>
          <xsd:enumeration value="CardSerno"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="OnUsMerchant">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="MerchantNumber" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="MCC" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="AcquirerId" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="AcquirerCountry" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="OnUsTransactionInfo">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="Amount" type="xsd:decimal"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Currency" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="TrxnType" type="tns:TrxnTypeEnum"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="MessageType" type="tns:MessageTypeEnum"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="DropPeriod" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="InstalmentPeriod" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="InstalmentOffset" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="ResponseCode" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="AuthorizationId" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="TrxnTypeEnum">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Purchase"/>
          <xsd:enumeration value="Cash"/>
          <xsd:enumeration value="QuasiCash"/>
          <xsd:enumeration value="Mail"/>
          <xsd:enumeration value="Instalment"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="MessageTypeEnum">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Request"/>
          <xsd:enumeration value="Advice"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:element ibmSchExtn:docRoot="true" name="OnUsAuthorizationRequestResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="OnUsAuthorizationRequestResult" type="tns:OnUsAuthorizationResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="OnUsAuthorizationResponse">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns:APIResponse">
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="ResponseCode" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="ResponseDescription" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="AuthCode" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="CardNumber" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="TrxnReference" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="1" name="AmortizationAmount" type="xsd:decimal"/>
              <xsd:element maxOccurs="1" minOccurs="1" name="FullAmount" type="xsd:decimal"/>
              <xsd:element maxOccurs="1" minOccurs="1" name="InterestRate" type="xsd:decimal"/>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:element ibmSchExtn:docRoot="true" name="DHIAuthorizationRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="xmlRequest" type="tns:DHIAuthorizationInput"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="DHIAuthorizationInput">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns:APIArguments">
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="ISOAuthorizationXML" type="xsd:string"/>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:element ibmSchExtn:docRoot="true" name="DHIAuthorizationRequestResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="DHIAuthorizationRequestResult" type="tns:DHIAuthorizationOutput"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="DHIAuthorizationOutput">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns:APIResponse">
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="ISOAuthorizationXML" type="xsd:string"/>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:element ibmSchExtn:docRoot="true" name="APIPing">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="xmlRequest" type="tns:APIPingRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="APIPingRequest">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns:APIArguments">
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="1" name="ReturnOracleAPIVersions" type="xsd:boolean"/>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:element ibmSchExtn:docRoot="true" name="APIPingResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="APIPingResult" type="tns:APIPingResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="APIPingResponse">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns:APIResponse">
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="WebResponseTime" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="AppServerResponseTime" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="DatabaseResponseTime" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="Versions" type="tns:ArrayOfVersionInfo"/>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfVersionInfo">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="VersionInfo" nillable="true" type="tns:VersionInfo"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="VersionInfo">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="Name" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Version" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="BodyVersion" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element ibmSchExtn:docRoot="true" name="AcquireTicket">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="xmlRequest" type="tns:AcquireTicketRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="AcquireTicketRequest">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns:APIArguments">
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="Ticket" type="tns:AuthenticationTicket"/>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="AuthenticationTicket">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="hostIP" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="applicationName" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element ibmSchExtn:docRoot="true" name="AcquireTicketResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="AcquireTicketResult" type="tns:AcquireTicketResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="AcquireTicketResponse">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns:APIResponse">
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="Ticket" type="xsd:base64Binary"/>
              <xsd:element maxOccurs="1" minOccurs="1" name="InstitutionID" type="xsd:short"/>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:element ibmSchExtn:docRoot="true" name="AuthorizationInquiry">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="xmlRequest" type="tns:AuthorizationInquiryRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="AuthorizationInquiryRequest">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns:APIArguments">
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="1" name="Reference" type="tns:AuthReferenceType"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="Number" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="AuthDate" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="AuthDateEnd" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="TimeStart" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="TimeEnd" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="Paging" type="tns:Paging"/>
              <xsd:element maxOccurs="1" minOccurs="1" name="AdditionalOptions" type="tns:AuthorizationOptions"/>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:simpleType name="AuthReferenceType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Group"/>
          <xsd:enumeration value="Card"/>
          <xsd:enumeration value="AllAuthorizations"/>
          <xsd:enumeration value="CardSerno"/>
          <xsd:enumeration value="PrimeCardSerno"/>
          <xsd:enumeration value="GroupSerno"/>
          <xsd:enumeration value="RiskDomainSerno"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="Paging">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="Size" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Key" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="OrderBy" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="Direction" type="tns:OrderDirection"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="OrderDirection">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Ascending"/>
          <xsd:enumeration value="Descending"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="AuthorizationOptions">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="All"/>
          <xsd:enumeration value="Outstanding"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:element ibmSchExtn:docRoot="true" name="AuthorizationInquiryResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="AuthorizationInquiryResult" type="tns:AuthorizationInquiryResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="AuthorizationInquiryResponse">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns:APIResponse">
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="AuthorizationList" type="tns:ArrayOfAuthorizationInfo"/>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfAuthorizationInfo">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="AuthorizationInfo" nillable="true" type="tns:AuthorizationInfo"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="AuthorizationInfo">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="ResponseDescription" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="CardSerno" type="xsd:long"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="RowNumber" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="CardNumber" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="AuthID" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="AuthSerno" type="xsd:long"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="AuthDateTime" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="AuthAmount" type="xsd:decimal"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="CardAmount" type="xsd:decimal"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="AuthCurrency" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="CardCurrency" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="AuthCountry" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="AuthStatus" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="AcquirerID" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="MerchantName" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="MerchantType" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="MerchantID" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="MerchantCity" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="POSEntry" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="OriginalMessageType" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="AuthSource" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="ResponseCode" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="RetrievalReferenceNumber" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="ReasonCode" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="ReasonCodeDescription" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="InstalmentData" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="NumberOfRepayments" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="MessageTrxnType" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="PaymentSchemeReasonCode" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="PaymentSchemeReasonCodeDescription" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element ibmSchExtn:docRoot="true" name="FinancialAuthorizationRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="xmlRequest" type="tns:FinancialAuthorizationRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="FinancialAuthorizationRequest">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns:APIArguments">
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="1" name="RequestType" type="tns:RequestType"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="MerchantNumber" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="TerminalNumber" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="AcquirerID" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="MCC" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="MerchantCountry" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="CardNumber" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="1" name="CardSerno" type="xsd:long"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="ExpiryDate" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="1" name="Cvv2Option" type="tns:Cvv2Option"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="Dbc4" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="Cvv2" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="Address" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="ZipCode" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="1" name="CardPresence" type="tns:Presence"/>
              <xsd:element maxOccurs="1" minOccurs="1" name="CardholderPresence" type="tns:Presence"/>
              <xsd:element maxOccurs="1" minOccurs="1" name="SecurityStatus" type="tns:SecurityStatus"/>
              <xsd:element maxOccurs="1" minOccurs="1" name="Amount" type="xsd:decimal"/>
              <xsd:element maxOccurs="1" minOccurs="1" name="CashbackAmount" type="xsd:decimal"/>
              <xsd:element maxOccurs="1" minOccurs="1" name="TransactionType" type="tns:IssuerOnlineTransactionTypes"/>
              <xsd:element maxOccurs="1" minOccurs="1" name="OriginatorReasonCode" type="xsd:int"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="Currency" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="InstalmentPlanShortCode" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="1" name="PlanType" type="tns:PlanType"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="DelayPaymentBy" type="tns:TimeDelay"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="BankID" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="BranchID" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="BankAccountNumber" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="CheckDigit" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="DueDate" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="StatementDate" type="xsd:string"/>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:simpleType name="RequestType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="F"/>
          <xsd:enumeration value="A"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Cvv2Option">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="NotPresent"/>
          <xsd:enumeration value="PresentButIllegible"/>
          <xsd:enumeration value="MerchantBypassed"/>
          <xsd:enumeration value="Skip"/>
          <xsd:enumeration value="Input"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Presence">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Unknown"/>
          <xsd:enumeration value="Present"/>
          <xsd:enumeration value="NotPresent"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="SecurityStatus">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="NoSecurityConcern"/>
          <xsd:enumeration value="SuspectedFraud"/>
          <xsd:enumeration value="IDVerified"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="IssuerOnlineTransactionTypes">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Purchase"/>
          <xsd:enumeration value="Cash"/>
          <xsd:enumeration value="QuasiCash"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="PlanType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Issuer"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="TimeDelay">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="Value" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="Unit" type="tns:TimeUnit"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="TimeUnit">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Days"/>
          <xsd:enumeration value="Months"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:element ibmSchExtn:docRoot="true" name="FinancialAuthorizationRequestResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="FinancialAuthorizationRequestResult" type="tns:FinancialAuthorizationResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="FinancialAuthorizationResponse">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns:APIResponse">
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="ResponseCode" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="ResponseDescription" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="IssuerReasonCode" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="RetrievalReferenceNo" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="AuthorizationCode" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="SendSuccess" type="xsd:string"/>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:element ibmSchExtn:docRoot="true" name="ExecutionTracking">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="xmlRequest" type="tns:ExecutionTrackingRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="ExecutionTrackingRequest">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns:APIArguments">
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="TrackingKey" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="1" name="DetailLevel" type="tns:ExecutionTrackingDetailLevel"/>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:simpleType name="ExecutionTrackingDetailLevel">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="BusinessOperationStatus"/>
          <xsd:enumeration value="UserActivity"/>
          <xsd:enumeration value="ApplicationLog"/>
          <xsd:enumeration value="All"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:element ibmSchExtn:docRoot="true" name="ExecutionTrackingResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="ExecutionTrackingResult" type="tns:ExecutionTrackingResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="ExecutionTrackingResponse">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns:APIResponse">
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="BusinessOperationStatus" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="DateTimeStart" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="DateTimeEnd" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="UserActivityInformationList" type="tns:ArrayOfUserActivityInformationData"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="AppLogInformationList" type="tns:ArrayOfAppLogInformationData"/>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfUserActivityInformationData">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="UserActivityInformationData" nillable="true" type="tns:UserActivityInformationData"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="UserActivityInformationData">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="EODDate" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="LogType" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="APIIdentifier" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="TableName" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="TabRowSerno" type="xsd:long"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="DateTimeStamp" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="AdditionalData" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="UserName" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="RequestorID" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfAppLogInformationData">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="AppLogInformationData" nillable="true" type="tns:AppLogInformationData"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="AppLogInformationData">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="EODDate" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="TableName" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="ColumnName" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="RowSerno" type="xsd:long"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="DateTimeStamp" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="ActionType" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Action" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="OldValue" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="NewValue" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="UserName" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="RequestorID" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element ibmSchExtn:docRoot="true" name="GenerateCustomerAlerts">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="xmlRequest" type="tns:GenerateCustomerAlertsRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="GenerateCustomerAlertsRequest">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns:APIArguments">
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="Identifier" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="1" name="Reference" type="tns:GenerateAlertReference"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="AlertList" type="tns:ArrayOfAlertData"/>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:simpleType name="GenerateAlertReference">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Card"/>
          <xsd:enumeration value="CardSerno"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="ArrayOfAlertData">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="AlertData" nillable="true" type="tns:AlertData"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="AlertData">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="AlertShortCode" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="AdditionalMessage" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element ibmSchExtn:docRoot="true" name="GenerateCustomerAlertsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="GenerateCustomerAlertsResult" type="tns:GenerateCustomerAlertsResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="GenerateCustomerAlertsResponse">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns:APIResponse"/>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:element ibmSchExtn:docRoot="true" name="EntityACPInquiry">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="xmlRequest" type="tns:EntityACPInquiryRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="EntityACPInquiryRequest">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns:APIArguments">
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="Identifier" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="1" name="Reference" type="tns:InquiryReferenceType"/>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:simpleType name="InquiryReferenceType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="CardNumber"/>
          <xsd:enumeration value="CardSerno"/>
          <xsd:enumeration value="All"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:element ibmSchExtn:docRoot="true" name="EntityACPInquiryResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="EntityACPInquiryResult" type="tns:EntityACPInquiryResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="EntityACPInquiryResponse">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns:APIResponse">
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="ACPProfileInfo" type="tns:ArrayOfACPData"/>
              <xsd:element maxOccurs="1" minOccurs="1" name="CardUsageVersionNo" type="xsd:int"/>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfACPData">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="ACPData" nillable="true" type="tns:ACPData"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ACPData">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="Description" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="LocalizedDescription" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="Serno" type="xsd:long"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="ShortCode" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="DeactivateFrom" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="DeactivateUntil" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element ibmSchExtn:docRoot="true" name="EntityACPMaintenance">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="xmlRequest" type="tns:EntityACPMaintenanceRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="EntityACPMaintenanceRequest">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns:APIArguments">
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="Identifier" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="1" name="Reference" type="tns:MaintenanceRefernceType"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="LinkedShortCode" type="tns:ArrayOfString"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="LinkedACPS" type="tns:ArrayOfLong"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="ACPLinkDetailsList" type="tns:ArrayOfACPLinkDetails"/>
              <xsd:element maxOccurs="1" minOccurs="1" name="CardUsageVersionNo" type="xsd:int"/>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:simpleType name="MaintenanceRefernceType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="CardNumber"/>
          <xsd:enumeration value="CardSerno"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="ArrayOfString">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="string" nillable="true" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfLong">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="long" type="xsd:long"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfACPLinkDetails">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="ACPLinkDetails" nillable="true" type="tns:ACPLinkDetails"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ACPLinkDetails">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="Serno" type="xsd:long"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="ShortCode" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="DeactivateFrom" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="DeactivateUntil" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element ibmSchExtn:docRoot="true" name="EntityACPMaintenanceResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="EntityACPMaintenanceResult" type="tns:EntityACPMaintenanceResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="EntityACPMaintenanceResponse">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns:APIResponse"/>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:element ibmSchExtn:docRoot="true" name="EMVScriptInquiry">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="xmlRequest" type="tns:EMVScriptInquiryRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="EMVScriptInquiryRequest">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns:APIArguments">
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="1" name="Reference" type="tns:EMVScriptInquiryReference"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="Identifier" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="1" name="InquiryType" type="tns:EMVScriptInquiryType"/>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:simpleType name="EMVScriptInquiryReference">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="CardNumber"/>
          <xsd:enumeration value="CardSerno"/>
          <xsd:enumeration value="AuthorizationSerno"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="EMVScriptInquiryType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="ScriptsAdded"/>
          <xsd:enumeration value="ScriptsAvailable"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:element ibmSchExtn:docRoot="true" name="EMVScriptInquiryResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="EMVScriptInquiryResult" type="tns:EMVScriptInquiryResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="EMVScriptInquiryResponse">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns:APIResponse">
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="0" name="EMVScriptDataList" type="tns:ArrayOfEMVScriptData"/>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfEMVScriptData">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="EMVScriptData" nillable="true" type="tns:EMVScriptData"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="EMVScriptData">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="ShortCode" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Description" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="Priority" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="AddedKey" type="xsd:long"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="AddedTimestamp" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Status" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="LastChangeUser" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="CanChangeStatus" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="CanChangePriority" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element ibmSchExtn:docRoot="true" name="EMVScriptMaintenance">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="xmlRequest" type="tns:EMVScriptMaintenanceRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="EMVScriptMaintenanceRequest">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns:APIArguments">
            <xsd:sequence>
              <xsd:element maxOccurs="1" minOccurs="1" name="Reference" type="tns:EMVScriptMaintenanceReference"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="Identifier" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="1" name="MaintenanceType" type="tns:EMVScriptMaintenanceType"/>
              <xsd:element maxOccurs="1" minOccurs="1" name="AddedKey" type="xsd:long"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="ShortCode" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="Priority" type="xsd:string"/>
              <xsd:element maxOccurs="1" minOccurs="0" name="Status" type="xsd:string"/>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:simpleType name="EMVScriptMaintenanceReference">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="CardNumber"/>
          <xsd:enumeration value="CardSerno"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="EMVScriptMaintenanceType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Add"/>
          <xsd:enumeration value="UpdateAdded"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:element ibmSchExtn:docRoot="true" name="EMVScriptMaintenanceResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="EMVScriptMaintenanceResult" type="tns:EMVScriptMaintenanceResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="EMVScriptMaintenanceResponse">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns:APIResponse"/>
        </xsd:complexContent>
      </xsd:complexType>
    </xsd:schema>